default:
  image:
    name: node:lts
    pull_policy: if-not-present
  tags:
    - yc-builder

stages:
  - publish

Publish:
  stage: publish
  rules:
    - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH
      when: never
    - if: $CI_COMMIT_MESSAGE =~ /^v\d+\.\d+\.\d+.*/
      when: never
    - changes:
      - packages/oidc-pkce-public-client/*
  cache:
    - key:
        files:
          - package.json
          - yarn.lock
      paths:
        - .yarn/cache
        - node_modules
  before_script:
    - git config --global user.name "${GITLAB_USER_NAME}"
    - git config --global user.email "${GITLAB_USER_NAME}@i-novus.ru"

    - git remote set-url --push origin https://${GITLAB_USER_NAME}:${GITLAB_USER_TOKEN}@${GITLAB_PROJECT}
    - git checkout $CI_COMMIT_BRANCH
    - git reset --hard origin/$CI_COMMIT_BRANCH
    - git pull
  script:
    - yarn install
    - yarn run build

    # Add version 0.0.x
    - yarn workspace @i-novus/oidc-pkce-public-client version patch

    - NPM_PACKAGE_NAME=$(node -p "require('./packages/oidc-pkce-public-client/package.json').name")
    - NPM_PACKAGE_VERSION=$(node -p "require('./packages/oidc-pkce-public-client/package.json').version")

    - |  
      if [[ "$(npm view ${NPM_PACKAGE_NAME} versions)" == *"'${NPM_PACKAGE_VERSION}'"* ]]; then
        echo "Version ${NPM_PACKAGE_VERSION} of ${NPM_PACKAGE_NAME} has already been published"
        exit 1
      fi

    - echo "Start publish ${NPM_PACKAGE_NAME}@${NPM_PACKAGE_VERSION}"

    - PACKAGE_VERSION="v${NPM_PACKAGE_VERSION}"

    - git add .
    - git commit -m "${PACKAGE_VERSION}"
    - git tag "${PACKAGE_VERSION}"
    - git push
    - git push origin "${PACKAGE_VERSION}"

    - YARN_NPM_AUTH_TOKEN=${NPM_PUBLISH_TOKEN} YARN_NPM_ALWAYS_AUTH=true yarn workspace @i-novus/oidc-pkce-public-client npm publish --access public

    - echo "Successfully published ${NPM_PACKAGE_NAME}@${NPM_PACKAGE_VERSION} to NPM registry!"
