# compiled output
node_modules

.env
.env.*
!.env.example

# Build output
dist

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
.idea
.vscode
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
